@font-face {
	font-family: "Exo 2", sans-serif;
	font-family: "Roboto", sans-serif;
	font-family: "Asap", sans-serif;
	font-family: "Playfair Display SC", serif;
	font-family: "AbrilFatFace-Regular";
	src: url("AbrilFatFace-Regular.TTF");
}

* {
	margin: 0;
}

body {
	background-color:#f6f6f6;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#advertisingbanner {
	margin:0 auto;
	margin-top: 7em;
	margin-bottom: 2em;
}

.advertising {
	width: 100%;
	height: 7vw;
}

h4 {
	font-family: 'Playfair Display SC', serif, time-new-roman, ambroise-francois-std, "Bodoni 72", Didot, "Hoefler Text", serif;
	font-weight: 1000;
	font-size: 1.5em;
}

#all-articles {
	width: 55%;
	margin:0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#top-stories-article {
	font-family: 'Asap', sans-serif;
	width: 70%;
}

.text-article-top-stories-title, .text-article-top-stories-journalist {
	font-family: none;
	text-transform: uppercase;
	padding-top: 0.2em;
}
	
#firstpart-article-top-stories {
	height: 20vw;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	margin-bottom: 1em;
}

#firstarticle-top-stories {
	width: 70%;
	height: 22vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 1px solid #CCC;
	border-top: 3px solid;
	margin-right: 0.5em;
	padding-left: 1em;
	padding-bottom: 1.5em;
	line-height: 0.2;
	box-shadow: 1px 1px 1px #CCC;
}

#firstarticle-top-stories img {
	width: 90%;
	margin: 1em;
	margin-bottom: 1em;
}

#secondarticle-top-stories {
	width: 30%;
	height: 22vw;
	border: 1px solid #CCC;
	border-top: 3px solid;
	padding: 1em;
	padding-bottom: 1.5em;
	box-shadow: 1px 1px 1px #CCC;
}

#secondarticle-top-stories img {
	width: 98%;
	padding-bottom: 2em;
}

#secondpart-article-top-stories {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	margin-top: 3em;
	margin-bottom: 2em;
}

#third-and-four-articles-top-stories {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

#thirdarticle-top-stories {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	width: 95%;
	border: 1px solid #CCC;
	border-top: 3px solid;	
	line-height: 0.8;
	box-shadow: 1px 1px 1px #CCC;
}

#thirdarticle-top-stories img {
	width: 80%;
}

#fourarticle-top-stories {
	width: 95%;
	height: 10vw;
	display: flex;
	flex-direction: row;
	align-items: center;
	border: 1px solid #CCC;
	border-top: 3px solid;
	padding: 0.5em;
	padding-top: 1em;
	margin-top: 1em;
	line-height: 0.8;
	box-shadow: 1px 1px 1px #CCC;
}

#fourarticle-top-stories img {
	width: 80%;
	padding-right: 1em;
	padding-left: 1em;
}

#fivearticle-top-stories {
	width: 80%;
	height: 21vw;
	display: flex;
	flex-direction: row;
	align-items: center;
	border: 1px solid #CCC;
	border-top: 3px solid;
	padding: 1em;
	padding-bottom: 0.5em;
	font-size: 1.5em;
	box-shadow: 1px 1px 1px #CCC;
}

#most-popular-title {
	font-family: "Asap", sans-serif;
	margin-bottom: 1em;
	padding-right: 1.5em;
}

#most-popular-article p{
	margin: 1em;
}


#most-popular-article {
	width: 29%;
	height: 44vw; 
	padding: 1em;
	border: 1px solid #CCC;
	border-top: 8px solid;
	box-shadow: 1px 1px 1px #CCC;
}

#firstarticle-most-popular, #secondarticle-most-popular, #thirdarticle-most-popular, #fourarticle-most-popular, #fivearticle-most-popular, #sixarticle-most-popular{
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}

.image-text-most-popular {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 5.8vw;
	line-height: 0.6;
}

.image-text-most-popular > img {
	margin: 0.3em;
	margin-top: 0.5em;
	padding-right: 0.5em;
	width: 40%;
	height: 4vw;
}

#link-morestories a {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 50%;
	height: 10%;
	margin-top: 1em;
	margin-left: 1em;
	text-decoration: none;
	text-transform: uppercase;
	color: #808080;
}

#link-morestories img {
	width: 20%;
	height: 20%;
}

#latest-video-article-border {
	border-top: solid 0.7em #000;
	width: 55%; 
	margin-top: 2em;
	background-color: #FFF;
	margin-bottom: 3em;
	box-shadow: 1px 1px 1px #CCC;
}

#latest-video-article {
	width: 100%;
	font-family: none;
	border: 2px solid #CCC;
	border-top: none;
	padding-bottom: 3em;
}

#latest-video-title {
	width: 95%;
	height: 4em;;
	border-bottom: 2px solid #CCC;
	margin : 0 auto;
	display: flex;
	align-items: center;
}

#video-latest-video {
	margin: 0 auto;
	width: 80%;
}


/*media queries desktop screen*/

@media all and (min-width: 600px) {

	#top-stories-title {
		display: none;		
	}

	#firstarticle-top-stories img {
		height: 15vw;
	}

	#secondarticle-top-stories {
		line-height: 1;
	}

	#secondarticle-top-stories img {
		height: 8vw;
	}

	#thirdarticle-top-stories {
		height: 10vw;
		padding-left: 1em;
	}

	#thirdarticle-top-stories img {
		height: 8vw; 
		padding-left: 2em;
	}

	#fourarticle-top-stories img {
		height: 6vw;
	}

	#fivearticle-top-stories img {
		display: none;
	}

	iframe {
		width: 100%;
		height: 27vw;
		margin-top: 2em;
		margin-bottom: 2em;
	}
}	

/*media queries screen max-witdh 599px*/

@media all and (max-width: 599px){

	.advertising {
		width: 100%;
		height: 10vw;
	}

	#all-articles {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#top-stories-title {
		width: 95%;
		padding: 0.5em;
		border: 1px solid #CCC;
		border-top: 8px solid black;
	}

	#top-stories-article {
		width: 93%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	#firstpart-article-top-stories {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 97%;
		height: 50em;
	}
	
	#firstarticle-top-stories {
		width: 98%;
		height: 25em;
		border-top: none;
	}

	#firstarticle-top-stories img {
		width: 90%;
		height: 30%;
	}

	#secondarticle-top-stories {
		width: 98%;
		height: 25em;
		border-top: 1px solid #CCC;
		line-height: 0.5;
		margin-bottom: 1em;
	}

	#secondarticle-top-stories img {
		width: 95%;
		height: 30%;
	}

	#secondpart-article-top-stories {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 97%;
		height: 75em;
	}

	#thirdarticle-top-stories {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 98%;
		height: 25em;
		border-top: none;
	}

	#thirdarticle-top-stories > div {
		width: 95%;
		height: 50%;
	}

	#thirdarticle-top-stories img {
		width: 95%
		height: 30%;
	}

	#fourarticle-top-stories {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 98%;
		height: 25em;
		border-top: none;
	}

	#fourarticle-top-stories img{
		width: 95%;
	}

	#fivearticle-top-stories {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 98%;
		height: 25em;
		border-top: none;
		margin-top: 1em;
		font-size: 1em;
	}

	#fivearticle-top-stories img {
		width: 98%;
		height: 250px;
	}

	#most-popular-article {
		width: 91%;
		height: 80vw;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.text-article-most-popular {
		margin-left: 1.5em;
	}

	#link-morestories, img {
		width: 55%;

	}

	#latest-video-article-border {
		width: 91%; 
	}

	#video-latest-video {
		margin: 0 auto;
	}

	#latest-video-article {
		width: 100%;
		right: 9px;
		bottom: 25px;
	}

	iframe {
		width: 100%;
		height: 40vw;
		margin: 0 auto;
		margin-top: 2em;
		margin-bottom: 1em;
	}
}