/*---------------------- all ---------------------------*/


* {
	margin: 0;
    font-family: 'Exo 2', sans-serif;
}


#content-accueil {
    height: 40em;
    width: 100%;
    background-color: #F6F6F6;
}



/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
/*----------------------!! TOPBAR !!---------------------------*/


header {
    position: fixed;
    width: 100%;
    box-shadow: 0 15px 12px -18px #000;
    z-index: 500;
}


/* ---------------------!  Haut  !--------------------- */


#topbar-background {
    width: 100%;
    display: flex;
    justify-content: center;
    
}




#topbar-container {
    width: 96%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
    
}


/* ----- Small Screen ----- */
@media only screen and (max-width : 768px) {

    #topbar-background {
        height: 2.5em ;
    }
    
}

/* ----- Big Screen ----- */
@media only screen and (min-width : 768px) {

     #topbar-background {
        height: 3.8em ;
    }
    
}


/*-------- diff Accueil - Article -------------*/

    .topbar-background-accueil {
        background-color: #fff;
        border-bottom: solid;
        border-width: 1px;
        border-color: #D6D6D6;
    }        

    .topbar-background-article {
        background-color: #48027F;
    }


/*----------------------------------------------------------*/



/* ------------------ Menu burger ------------------ */

#topbar-container-menuburger {
    height: 100%;
    width: 5em;
    display: flex;
    align-items: center;
}

#topbar-menuburger {
    width: 1.3em;
    height: 1.3em;
    background-size:100% auto;
    transition: 0.3s ;
    cursor: pointer;
}


/*------diff Accueil - Article-----------*/

    .topbar-menuburger-accueil {
    background-image: url(images/menu-burger-hover.png); 
    opacity: 0.5;
    }

    .topbar-menuburger-accueil:hover {
    opacity: 1;
    transition: 0.3s ;
    }


    .topbar-menuburger-article {
        background-image: url(images/menu-burger-blanc.png);
        opacity: 1;

}

    .topbar-menuburger-article:hover {
        opacity: 0.5;
        transition: 0.3s ;
    }




/*----------------------------------------------------------*/
/* ------------------ Logo ------------------ */

#topbar-container-logo {
    background-repeat: no-repeat;
    background-position: center;
    background-size:100% auto;
    transition: 0.5s;
    height: 100%;
}


#topbar-link-logo {
        width: 100%;
        height: 100%;
        display : block;
}

#topbar-container-logo:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: 0.5s;
}


/* ----- Small Screen ----- */
@media only screen and (max-width : 768px) {

    #topbar-container-logo {
        width: 6em;
    }
    
}

/* ----- Big Screen ----- */
@media only screen and (min-width : 768px) {

     .topbar-container-logo-accueil {
         width: 10em;
    }
    
    .topar-container-logo-article {
        width: 7em;
        margin-left: -2em;
    }
    
}

/*------diff Accueil - Article-----------*/

.topbar-container-logo-accueil {
    background-image: url(images/logo-wild.png); 
    
}

.topar-container-logo-article {
    background-image: url(images/logo-wild-blanc.png);
}


/*----------------------------------------------------------*/
/* ------------------ Titre categorie ------------------ */

/* ----- Small Screen ----- */
@media only screen and (max-width : 768px) {

    #topbar-titre-categorie-container {
        height: 0px;
        width: 0px;
        visibility: hidden;
        position: fixed;
    }
    
    .topbar-titre-categorie {
        width: 0px;
    }
    
}

/* ----- Big Screen ----- */
@media only screen and (min-width : 768px) {

        #topbar-titre-categorie-container {
        width: 80%;
        display: flex;
        align-content: center;
    }

    .topbar-titre-categorie {
        margin: 0 auto;
        font-family: "Asap", sans-serif;
        color: #fff;
        letter-spacing: 0.08em;
        font-size: 1em;
    }
}

/*----------------------------------------------------------*/

/* ------------------ Subscribe ------------------ */



 #topbar-container-subscribe {
    height: 100%;
    width: 5em;
    display: flex;
    align-items: center;
}

#topbar-container-subscribe > a {
    font-size: 0.7em;
    letter-spacing: 0.1em;
    transition: 0.3s ;
}

/*------diff Accueil - Article-----------*/

    
    .topbar-subscribe-accueil > a{
        color: #8A8A8A;
    }

    .topbar-subscribe-accueil  a:hover {
        color: #000;
        text-decoration: none;
        transition: 0.3s ;
    }


    .topbar-subscribe-article > a{
        color: #fff;
    }

    .topbar-subscribe-article  a:hover {
        opacity: 0.5;
        text-decoration: none;
        transition: 0.3s ;
    }



/*----------------------------------------------------------*/

/* ---------------------  navigation  --------------------- */

/* ----- Small Screen ----- */
@media only screen and (max-width : 768px) {
    
     .topbar-navigation-container {
        visibility: hidden;
         height: 0px;
    }
    
    
}

/* ----- Big Screen ----- */
@media only screen and (min-width : 768px) {

    .topbar-navigation-container {
        width: 100%;
        height: 3em;
    }

    .row {
         height: 2em;
        margin: 0;
    }

    .categorie-nav {
        background-color: #fff;
        border-left: solid;
        border-width: 1px;
        border-color: #D6D6D6;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.7em;
        letter-spacing: 0.1em; 
        transition: 0.3s ;
    }
    
    .categorie-nav-accueil {
        background-color: #fff;
    }
    
  
    
       .topbar-categorie-nav-link {  
        width: 100%;
        height: 100%;
        display : block;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: #8A8A8A;
    }
    

        
    
        /*------diff Accueil - Article-----------*/
    
    .nav-culture-article {
        background-color: #48027F;
        border-top:none;
    }
    
    .nav-culture-article  > a{
        color:#fff;
    }
    
    /*------------------------*/

}

                  /* ------ hover ------*/
    
   .topbar-categorie-nav-link:hover {
        color: #fff;
        text-decoration: none;
    }

    .nav-business:hover {
        background-color: #39A06E;
        border-bottom: none;
        cursor: pointer;
        transition: 0.3s ;
    }
    
    .nav-culture:hover {
        background-color: #48027F;
        border-bottom: none;
        cursor: pointer;
        transition: 0.3s ;
    }

    .nav-gear:hover {
        background-color: #037A92;
        border-bottom: none;
        cursor: pointer;
        transition: 0.3s ;
    }

    .nav-ideas:hover {
        background-color: #8DA563;
        border-bottom: none;
        cursor: pointer;
        transition: 0.3s ;
    }

    .nav-science:hover {
        background-color: #FFD537;
        border-bottom: none;
        cursor: pointer;
        transition: 0.3s ;
    }


    .nav-security:hover {
        background-color: #752020;
        border-bottom: none;
        cursor: pointer;
        transition: 0.3s ;
    }

    .nav-transportation:hover {
        background-color: #F14E4E;
        border-bottom: none;
        cursor: pointer;
        transition: 0.3s ;
    }

     .nav-photo:hover {
        background-color: #474747;
        border-bottom: none;
        cursor: pointer;
        transition: 0.3s ;
    }

     .nav-backchannel:hover {
        background-color: #75BEB7;
        border-bottom: none;
        cursor: pointer;
        transition: 0.3s ;
    }



/*----------------------------------------------------------*/

/* ---------------------  Menu  --------------------- */

 #topbar-menu-container {
     width: 100%;
}



#topbar-menu-media-container {
    background-color: #fff;
}


   .topbar-menu-media-link {
        height: 3.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.6em;
        letter-spacing: 0.1em;


    }

.topbar-menu-categories-name {
    font-size: 0.7em;
    color: #8A8A8A;
    
}

.topbar-menu-categories-picture {
    background-repeat: no-repeat;
    background-position: center;
    background-size:100% auto;
    
}

.menu-picture-business {
    background-image: url(images/categories/business.png);
}

.menu-picture-culture {
    background-image: url(images/categories/culture.png);
}

.menu-picture-gear {
    background-image: url(images/categories/gear.png);
}

.menu-picture-ideas {
    background-image: url(images/categories/ideas.png);
}

.menu-picture-science {
    background-image: url(images/categories/science.png);
}

.menu-picture-security {
    background-image: url(images/categories/security.png);
}

.menu-picture-transportation {
    background-image: url(images/categories/transportation.png);
}

.menu-picture-photo {
    background-image: url(images/categories/photo.png);
}

.menu-picture-backchannel {
    background-image: url(images/categories/backchannel.png);
}



/* ----- Small Screen ----- */

@media only screen and (max-width : 768px) {
   
    .topbar-menu-categories-row {
        width: 100%;
        display: flex;
        flex-direction: row;
        border-bottom: solid;
        border-width: 1px;
        border-color: #D6D6D6;
        
    }
    
    .topbar-menu-categories-small {
        height: 32vw;
        border-left: solid;
        border-width: 1px;
        border-color: #D6D6D6;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    
    .topbar-menu-categories-picture {
    width: 50%;
    height: 12vw;
        
    }
    
    
    .topbar-menu-categories-small:hover > div {
        color: #fff;
    }
    
    
    #topbar-menu-media-link-container-small {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    
    #topbar-menu-media-link-signin {
        width: 100%;
        font-size: 0.6em;
        letter-spacing: 0.1em;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: solid;
        border-width: 1px;
        border-color: #D6D6D6;
        height: 13vw;
    }
    
    .topbar-menu-media-link-small {
        width: 50%;
        font-size: 0.6em;
        letter-spacing: 0.1em;
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: solid;
        border-width: 1px;
        border-color: #D6D6D6;
        height: 13vw;
    }
    
     #topbar-menu-categories-container-big {
        height: 0px;
        visibility: hidden;
    }
    
    #topbar-menu-media-link-container-big {
        visibility: hidden;
        height: 0px;
    }
    
    
}



/* ----- Big Screen ----- */

@media only screen and (min-width : 768px) {

      #topbar-menu-categories-container-big {
        border-bottom: solid;
        border-width: 1px;
        border-color: #D6D6D6;
        display: flex;
        flex-direction: row;
        background-color: #fff;
    }

     .topbar-menu-categories-big {
        height: 13vw;  
        border-left: solid;
        border-width: 1px;
        border-color: #D6D6D6;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    
    .topbar-menu-categories-picture {
    width: 50%;
    height: 6vw;
        
    }
    
     .topbar-menu-categories-big:hover > div {
        color: #fff;
    }
    
    .topbar-menu-categories-big-article > div {
        color: #fff;
    }

        #topbar-menu-media-link-container-big {
        width: 70%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;

    }

 

    .topbar-menu-media-link > a {
        text-decoration: none;
        color: #8A8A8A;

    }

    .topbar-menu-media-link > a:hover {
        text-decoration: none;
        color: #000;

    }
    
    #topbar-menu-categories-container-small {
        height: 0px;
        visibility: hidden;
    }
    
    #topbar-menu-media-link-container-small {
        visibility: hidden;
        height: 0px;
    }
}

/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
/*----------------------!! CONTENT !!------------------------*/


#content {
    width: 100%;
    background-color: #fff;
}

#content-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content-block-container {
    background-color: #fff;
}


/*------------ Fixed Elements ----------------*/

#content-fixed-container {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ontheside {
    border-top: solid;
    border-width: 0.7em;
}


.content-fixed-title {
    width: 100%;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Playfair Display SC', serif;
    font-size: 1.5em;
    border-bottom: solid;
    border-width: 1px;
    border-color: #D6D6D6;
}


.content-lign {
    margin:0 auto;
    border-top: solid;
    border-width: 1px;
    border-color: #D6D6D6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.content-ligntop {
    border-top: none;
}

/* ------- Reseaux -------*/

#content-reseaux-container {
    width: 10em;
}

#content-space-Reseaux {
    width: 10em;
}

.content-lign-reseaux{
     width: 80%;
    height: 4em;
}

.content-lign-reseaux-picture {
    background-color: #8A8A8A;
    width: 2.3em;
    height: 2.3em;
}

.content-reseaux-picture-share {
    background-color: #405798;
}

.content-reseaux-picture-tweet {
    background-color: #6bacd1;
}

.content-reseaux-picture-comment {
    background-color: #15326C;
}

.content-reseaux-picture-email {
    background-color: #000;
}

.content-lign-reseaux-text {
      height: 2.5em;
    
}

.content-reseaux-lign-titre {
    width: 6em;
    text-align: left;
    color: #8A8A8A;
    font-size: 0.8em;
}

.content-reseaux-lign-soustitre {
    font-size: 0.7em;
}


/* ------- Most Popular -------*/

#content-mostpopular-container {
    width: 16em;
}


#content-space-mostpopular {
    width: 16em;
}

.content-lign-mostpopular{
     width: 90%;
    height: 5.5em;
}

.content-lign-mostpopular-link {
    width: 100%;
    height: 4em;
    border-bottom: solid;
    border-width: 1px;
    border-color: #D6D6D6;
    
}

.content-mostpopular-picture {
    width: 4em;
    height: 4em;
    background-color: #D6D6D6;
    background-repeat: no-repeat;
    background-position: center;
    background-size:155% auto;
}

#mostpopular-picture1 {
    background-image: url(images/MostPopular/Mostpopular1.png);
}

#mostpopular-picture2 {
    background-image: url(images/MostPopular/Mostpopular2.png);
}

#mostpopular-picture3 {
    background-image: url(images/MostPopular/Mostpopular3.png);
}

.content-mostpopular-article {
    width: 9.7em;
    height: 4.2em;
}

.content-mostpopular-lign-title {
    font-size: 0.7em;
    color: #000;
    font-family: 'Playfair Display SC', serif;
}

.content-mostpopular-lign-subtitle {
    font-size: 0.7em;
    color: #8A8A8A;
}



/*------------ Article ----------------*/

#content-article-container {
    margin-bottom: 2em;
}

#content-article {
    margin: 0 auto;
    font-size: 2.7em;
}

.content-title-author {
    font-size: 0.25em;
    color: #8A8A8A;
    letter-spacing: 0.1em; 
}

#content-title {
    font-family: 'Playfair Display SC', serif;
    line-height: 1.1;
    color:
}

#content-picture {
    background-color: #D6D6D6;
    width: 100%;
    height: 50vw;
    margin-top: 0.8em;
    margin-bottom: 0.3em;
    background-image: url(images/article_archi.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size:100% auto;
}

#content-text {
    font-size: 0.4em;
    color: #000;
    margin-top: 3em;
    margin-left: 4em;
    margin-bottom: 4em;
    font-family: 'Roboto', sans-serif;
}


/* ----- Small Screen ----- */

@media only screen and (max-width : 768px) {
    
    #content {
    padding-top: 8em;
}

    #content-space-Reseaux {
        width: 0px;
        visibility: hidden;
    }
    
     #content-space-mostpopular {
        width: 0px;
        visibility: hidden;
    }

    #content-article-container {
    width: 100%;
    
    }
    
     #content-article {
    width: 90%;
    }
    
}

/* ----- Big Screen ----- */

@media only screen and (min-width : 768px) {

    #content-article-container {
    width: 60%;
    
    }
    
    #content-article {
    width: 80%;
    }
    
    #content-bigpicture {
        padding-top: 6.8em;
        margin-bottom: 3em;
        width: 100%;
        height: 45vw;
        background-color: #D6D6D6;
        background-image: url(images/article_archi.jpg) ;
        background-repeat: no-repeat;
        background-position: center;
        background-size:100% auto;
    }
    
    #content-picture {
        height: 0px;
        visibility: hidden;
    }
    
    #content-picture-author {
        height: 0px;
        visibility: hidden;
    }
}




/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
/*----------------------!! FOOTER !!---------------------------*/

#footer-background {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 15px 12px 12px #000;
}

#footer-container {
    width: 86%;
    margin: 0 auto;
}

/* ------------------ Logo ------------------ */

#footer-logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#footer-logo {
    background-image: url(images/logo-wild.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:100% auto;
    height: 45%;
}

#footer-link-logo {
        width: 100%;
        height: 100%;
        display : block;
}

/* ----- Small Screen ----- */
@media only screen and (max-width : 576px) {
    
    #footer-logo-container {
        height: 4em;  
    }
    
    #footer-logo {
        width: 6em;
        
    }
}

/* ----- Big Screen ----- */
@media only screen and (min-width : 576px) {
      
     #footer-logo-container {
        height: 6em;  
     }
    
        #footer-logo {
            width: 10em;
        }
}


#footer-logo:hover {
    cursor: pointer;
}
/* ------------------ Reseaux ------------------ */

    .carre-facebook {
        background-color: #405798;
    }
    .carre-twitter {
        background-color: #6bacd1;
    }
    .carre-pinterest {
        background-color: #dc1226;
    }
    .carre-youtube {
        background-color: #e5212e;
    }
    .carre-insta {
        background-color: #557fa2;
    }



/* ----- Small Screen ----- */
@media only screen and (max-width : 576px) {
    
    .footer-container-reseaux-small {
        width: 21em;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;   
    }
    
    .footer-reseaux-small {
        width: 5.5em;
        height: 5.5em;
        margin: 0.5em;
    }
    
    
    
    
    .footer-container-reseaux-big {
        visibility: hidden;
        height: 0px;
    }
}


/* ----- Big Screen ----- */
@media only screen and (min-width : 576px) {

    .footer-container-reseaux-big {
        width: 18em;
        height: 3em;

        margin: 0 auto;
    }

    

     .footer-container-reseaux-small {
        visibility: hidden;
        height: 0px;
    }
    
}

/* ------------------  Menu ------------------ */

.footer-menu-categorie > a {
        font-size: 0.65em;
        color: #8A8A8A;
        text-decoration: none;
        letter-spacing: 0.1em;
}

.footer-menu-categorie > a:hover {
        color: #000;
}



/* ----- Small Screen ----- */
@media only screen and (max-width : 576px) {
    
    #footer-menu-content {
        margin-top: 2em;
        margin-bottom: 2em;
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .footer-menu-categorie {
        width: 50%;
        height: 4em;
        display:flex;
        justify-content: center;
        align-items: center;
        border-top: solid;
        border-width: 1px;
        border-color: #D6D6D6;
    }
    
    .footer-menu-categorie-left {
        border-right: solid;
        border-width: 1px;
        border-color: #D6D6D6;
    }
    
    .footer-menu-categorie-bottom {
        border-bottom: solid;
        border-width: 1px;
        border-color: #D6D6D6;
    }
    
}


/* ----- Big Screen ----- */
@media only screen and (min-width : 576px) {


    #footer-menu-content {
        height: 3em;
        margin-top: 2em;
        margin-bottom: 2em;
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        align-content: stretch;
    }

    .footer-menu-categorie > a {
        padding-left: 1em;
        padding-right: 1em;
        border-right: solid;
        border-width: 1px;
        border-color: #D6D6D6;
        
    }

    .footer-menu-categorie-last > a {
        border-right: none;
    }
    
}


/* ------------------  Legal ------------------ */

#footer-legal-container {
    padding-bottom: 0.5em;
    width: 80%;
    margin: 0 auto;
}

#footer-legal-content > p {
    text-align: center;
    font-size: 0.85em;
    color: #8A8A8A;
    font-family: 'Roboto', sans-serif;
}



/* ---------------------------------------------------------*/
/* ----------------       ANIMATION     -------------------*/
/* ---------------------------------------------------------*/


.hidden {
    visibility: hidden;
    height: 0px;
}



