* {
	margin: 0;
}

body {
	background-color: #f6f6f6;
}

#advertisingbanner img {
	width: 728px;
	transition: 0.5s;
}

.image-article-top-stories img { 
	width: 580px;
	transition: 0.5s;
}

.image-article-most-popular img{
	width: 65px;
	height: 65px;
}

#footlogo {
	align-items: center;
}

footer img {
	width: 50px;
	text-decoration: none;
}

footer li {
	list-style-type: none;
	display: inline-block;
}

@media all and (max-width: 599px){
	
	.top-stories-article container, h4 {
		text-align: center;
	}
	
	.text-article-top-stories {
		background-color: red;
	}
	
	.image-article-top-stories {
		background-color: yellow;
	}
}